<h3 class="allrecipes"><%= link_to "All Recipes", recipes_path %></h3>


<% @recipes.each do |recipe| %>
  <div class="recipe">
    <div class="food">
      <img class="rimage" src="<%= recipe.img_url %>">
        <a href="/recipes/<%= recipe.id %>"><p class="rtitle"><%= recipe.title %></a></p>
      </div>
    </div>
 <% end %>
