
<nav>
  <h3><%= link_to "All Recipes", recipes_path %> </h3>
  <h3><%= link_to "Add Recipe", new_recipe_path %></h3>
</nav>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <h2><%= link_to recipe.title, recipe %></h2>
    <img src="<%= recipe.img_url %>">
  </div>
<% end %>
