<h2> Welcome to Recipe Ting! The place where the people are friendly and the dishes are scrumptous! </h2>


<% @categories.each do |category| %>
  <div class="category">
    <p><%=category.name %><a href="/categories/<%= category.id %>"><img src="<%= category.img_url %>"></a></p>
  </div>

  <% end %>
