<h2><%= @category.name %></h2>

<h3><%# link_to "Add Recipe", new_recipe_path %></h3>

<% @category.recipes.each do |recipe| %>
<div class="recipe">
  <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
  <%= image_tag recipe.img_url %>


<%end %>
